* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font: 12px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    min-width: 1000px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover{
    color: #f10180;
}
.wrap{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
/* header */
header{
    height: 195px;
    width:100%;
    background: #f5f5f5;
    color: #777;
}
.city{
    width: 84px;
    height: 28px;
    position: relative;
    float: left;
}
.city a{
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
}
.arrow{
    display: inline-block;
    border:4px solid transparent;
    border-top-color: #999;
    position: absolute;
    top:48%;
    right: 8px;
}
.nav_arrow{
    right: 18px;
}
.top_nav{
    width: 730px;
    height: 32px;
    float: right;
}
.top_nav li{
    float: left;
    position: relative;
    margin-right: 7px;
    padding-right: 28px;
}
.top_nav li a{
    height: 28px;
    line-height: 28px;
}
.top_nav li span{
    background: url(../images/sprites-hash-b45bfef8.png) -270px -184px no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 5px;
}
.top_nav li:nth-of-type(3)::before{
    content:"";
    width: 15px;
    height: 18px;
    background: url(../images/gift.gif) no-repeat;
    display: inline-block;
}
.top_nav li:nth-last-of-type(2) a::before{
    content:"";
    width:10px;
    height: 14px;
    margin-right: 3px;
    display: inline-block;
    background: url(../images/sprites-hash-b45bfef8.png) -294px -142px no-repeat;
}
/* header下拉菜单 */
/* 城市 */
.city_show{
    width: 470px;
    border: 1px solid #ccc;
    position: absolute;
    left:-1px;
    top:30px;
    display: none;
    padding:0 15px;
    background: #fff;
}
.city::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 84px;
    height: 1px;
    overflow: hidden;
    background-color: #fff;
}
.city:hover{
    background: #fff;
    border: 1px solid #ccc; 
    height: 30px;
} 
.city:hover .city_show{
    display: block;
}
.city_show p{
    padding:7px 0;
    color: #333;
}
.city_tab{
    width: 470px;
    height: 236px;
    position: relative;
}
.btn_tab{
    display: inline-block;
    width: 70px;
    height: 30px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-right: 0.5px solid #ccc;
    position: absolute;
    top:0;
}
.tbtn1{
    left:0
}
.tbtn2{
    left:70px;
}
.p_tab{
    padding: 20px 13px 18px;
    border-top: 1px solid #ccc;
    position: absolute;
    margin-top: 28px;
    display: none;
}
.p_tab li{
    float: left;
    width: 68px;
    margin-bottom: 2px;
}
.p_tab li:nth-of-type(14){
    background: #f10180;
}
.p_tab li:nth-of-type(14) a{
    color: #fff;
}
.c_tab{
    padding: 20px 13px 18px;
    border-top: 1px solid #ccc;
    position: absolute;
    margin-top: 28px;
    display: none;
}
.c_tab li{
    float: left;
    width: 103px;
    margin-bottom: 2px;
}
.c_tab li:nth-of-type(1) a{
    color: #fff;
    width: 68px;
    height: 100%;
    margin:0 17px;
    background: #f10180;
}
.p_tab:target{
    display: block;
   
}
.p_tab:target+a{
    background: #fff;
    border-top:1px solid  #f10180;
}
.c_tab:target{
    display: block;
}
.c_tab:target+a{
    background: #fff;
    border-top:1px solid  #f10180;
}
.close{
    width: 12px;
    height: 12px;
    position: absolute;
    right: 10px;
    top:10px;
    cursor: pointer;
}
.close::before{
    content: "";
    width: 2px;
    height: 14px;
    display: inline-block;
    background: #777;
    transform:rotate(45deg);
}
.close::after{
    content: "";
    width: 2px;
    height: 14px;
    display: inline-block;
    background: #777;
    transform:rotate(-45deg);
}
/* 请登录 */
.login{
    position: relative;
}
.login::after{
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 64px;
    height: 1px;
    overflow: hidden;
    background-color: #fff;
}
.login_show{
    width: 280px;
    height: 180px;
    position: absolute;
    left:-1px;
    top:30px;
    border:1px solid #ccc;
    display: none;
    background: #fff;
}
.login:hover{
    border:1px solid #ccc;
    background: #fff;
    height: 30px;
}
.login:hover .login_show{
    display: block;
}
.login_logo{
    padding:15px 20px 0;
}
.login_logo img{
    background: url(../images/sprites-hash-b45bfef8.png) -164px -142px no-repeat;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.welcome{
    border-bottom: #d6d6d6 1px dotted;
    width: 175px;
    padding-left: 5px;
    height: 32px;
    line-height: 32px;
    text-align: left;
}
.welcome a:hover{
    color: #f10180;
}
.login_info{
    margin: 10px 12px;
    padding: 0 0 0 15px;
}
.login_info dd{
    width: 50%;
    margin: 3px 0;
    float: left;
}
.login_info dd a:hover{
    color: #f10180;
}

/* logo和搜索部分 */
.top_search{
    width: 100%;
    height: 100px;
    float: left;
    padding-top: 20px;
}
.top_logo{
    height: 100px;
    float: left;
}
.server{
    width: 304px;
    height: 100px;
    background: url(../images/server.png)no-repeat;
    background-size: 304px 100px;
    float: right;
}
.top_right{
    width: 500px;
    height: 100px;
    float: right;
}
.search_input{
    width: 387px;
    height: 32px;
    border: 1px solid #fa2a83;
    border-radius: 2px;
    background-color: #fff;
    float: left;
    margin-top: 33px;
    position: relative;
}
.search_input input{
    padding: 2px 10px;
    width: 311px;
    height: 28px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border: none;
    background-color: #fff;
    outline: none;
   
}
.search_input input:focus ~.input_show{
    display: block;
}
.input_show{
    position: absolute;
    top: 34px;
    left: -1px;
    z-index: 10;
    padding-top: 11px;
    width: 387px;
    height: 245px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-width: 0;
    display: none;
}
.linput{
    display: inline-block;
    padding-bottom: 13px;
    width: 169px;
}
.history{
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 15px;
    color: #999;
}
.rinput{
    display: inline-block;
    margin-left: -1px;
    padding-bottom: 10px;
    width: 168px;
    min-height: 139px;
    vertical-align: top;
    border-left: 1px solid #e0e0e0;
}
.rinput p{
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 15px;
    color: #999;
}
.rinput ul{
    padding-right: 5px;
    padding-left: 15px;
}
.rinput li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}
.rinput li span{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    max-width: 126px;
    line-height: 24px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    font-size: 12px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search_input a{
    width: 53px;
    height: 32px;
    text-align: center;
    background-color: #fa2a83;
    display: inline-block;
    float: right;
}
.search_input a span{
    width: 19px;
    height: 22px;
    display: inline-block;
    background: url(../images/sprites-hash-b45bfef8.png) -72px -208px no-repeat;
    margin-top: 6px;
}
.cart_bag{
    float: right;
    margin-top: 32px;
    margin-left: 15px;
    width: 88px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #f6f7f9;
    border-radius: 2px;
    position: relative;
}
.cart_bag a::before{
    content:"";
    width: 12px;
    height: 17px;
    display: inline-block;
    background: url(../images/sprites-hash-b45bfef8.png) -114px -208px no-repeat;
    position: absolute;
    top:25%;
    left:3px;
}
.cart_bag a{
    width: 80px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}
.cart_bag a::after{
    content:"0";
    position: absolute;
    top: 8px;
    right: 3px;
    z-index: 1;
    border-radius: 8px;
    height: 16px;
    width: 24px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: #f00581;
}
.cart_bag:hover .cart_show{
    display: block;
}
.cart_show{
    width: 320px;
    padding: 19px 14px 14px 13px;
    background-color: #fff;
    border: 1px solid #ddd;
    float: right;
    margin-right: -1px;
    display: none;
}
.cart_show span{
    width: 88px;
    height: 1px;
    display: inline-block;
    background: #fff;
    position: absolute;
    top:32px;
    right: 0;
}
.cart_show p{
    text-align: center;
    padding: 16px 0;
}
/* 主要导航main_nav */
.main_nav{
    width: 100%;
    height: 43px;
    float: left;
}
.main_nav li{
    float: left;
}
.main_nav li:nth-of-type(1) a{
    color: #fff;
}
.main_nav li:nth-of-type(1) img{
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 6px;
}
.main_nav .female{
    cursor: default;
    font-weight: 700;
    color: #f10180;
}
.main_nav li a{
    color: #333;
    padding:0 10px;
    display: block;
    font-size: 16px;
    text-align: center;
    height: 43px;
    line-height: 43px;
}
/* 商品分类 */
.category{
    background-color: #f10180;
    width: 156px;
    height: 43px;
    margin-right: 20px;
}
.category_list{
    width: 156px;
    height: 495px;
    background: #f10180;
    display: none;
    position: relative;
}
.category_list li{
    height: 45px;
    width: 100%;
    background: #f10180;
}
.category_list li:hover{
    background: #fff;
}
.category_list li span{
    width: 156px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    color: #fff;
}
.category_list li:hover span{
    color: #f10180
}
.category:hover .category_list{
    display: block;
}
.category_list li:hover .list_show{
    display: block;
}
.list_show{
    width: 780px;
    height: 495px;
    background: #fff;
    position: absolute;
    top:0;
    left:100%;
    display: none;
}
.lshow{
    width: 80%;
    height: 100%;
    float: left;
}
.rshow{
    width: 20%;
    height: 100%;
    background: url(../images/showpic.png) no-repeat;
    float: right;
}
.lshow dl{
    height: 10%;
    width: 100%；
}
.lshow dl dt{
    width: 11%;
    display: inline-block;
    float: left;
    color: #000;
    margin-left: 10px;
}
.lshow dl dd{
    width: 87%;
    float: right;
}
#showa{
    display: inline-block;
    margin-left: 20px;
    color: #999;
    font-size: 12px;
    padding: 0;
    height: 20px;
    line-height: 20px;
}
#showa:hover{
    color: #f10180;
}
/* 更多 */
.more_show{
    width: 100%;
    height: 300px;
    background: #fff;
    display: none;
}
.more_text{
    height: 43px;
    font-size: 16px;
    text-align: center;
    color: #333;
    padding: 0px 15px;
}
.more_text:hover{
    color: #f10180;
}
.main_nav li:last-child:hover .more_show{
    display: block;
}
/* 大图bg */
.bg{
    width: 100%;
    height: 360px;
    background: url(../images/bg.jpg);
    background-size: 100% 360px;
    margin-bottom: 50px;
}
/* section1 */
.section1{
    width: 100%;
}
.title{
    height: 52px;
    text-align: center;
    position: relative;
    margin-bottom: 14px;
}
.title_line{
    width: 378px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    left: 50%;
    top: 14px;
    z-index: 1;
    margin-left: -190px;
}
.title_big{
    width: 120px;
    display: inline-block;
    height: 30px;
    padding: 0 20px;
    background: #fff url(../images/title.png) no-repeat center;
    background-size: 120px auto;
    position: relative;
    z-index: 2;
}
.title_small{
    font-family: Arial;
    font-size: 12px;
    color: #ccc;
    text-transform: uppercase;
}
.menu{
    height: 305px;
    border: 1px solid #ff6f8a;
    margin-bottom: 40px;
    overflow: hidden;
}
.lmenu{
    width: 143px;
    height: 100%;
    float: left;
    position: relative;
}
.lmenu li{
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    height: 50px;
    border-top: 1px solid #fff;
    background-color: #ff6f8a;
    cursor: pointer;
    position: relative;
}
.mico{
    width: 20px;
    height: 20px;
    float: right;
    display: none;
}
.mico i{
    font-size: 12px;
}
.lmenu li:hover{
    background: #fff;
    color: #ff6f8a;
}
.lmenu li:hover .mico{
    display: block;
}
.rmenu{
    width: 855px;
    height: 100%;
    float: left;
}

.menu_show li{
    text-align: center;
    width: 20%;
    height: 152px;
    float: left;
}
.menu_show li a{
    display: block;
    padding-top: 13px;
}
.dress_name{
    padding: 5px 10px 0;
    font-size: 14px;
    color: #ff6f8a;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu1{
    display: block;
}
.menu2{
    display: none;
}
.menu3{
    display: none;
}
.menu4{
    display: none;
}
.menu5{
    display: none;
}
.menu6{
    display: none;
}
/* section2 */
.section2{
    height: 700px;
}
.shop_title{
    width: 100%;
    height: 68px;
    background: url(../images/discount.png) no-repeat;
    background-size: 100% auto;
}
.scontent{
    width: 1020px;
}
.slist{
    width: 490px;
    height: 325px;
    margin-right: 20px;
    background: #fff;
    float: left;
    position: relative;
    
}
.ad_info{
    margin-top: 6px;
    position: relative;
    display: block;
    background-color: #fff;
}
.ad_info p{
    margin-top: 10px;
    cursor: pointer;
    font-family: MicrosoftYaHei;
    font-weight: 700;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 455px;
    display: block;
}
.ad_price{
    color: #4d4d4d;
    font-size: 16px;
    margin-right: 10px;
    font-family: MicrosoftYaHei;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    _width: 100px;
    display: inline-block;
}
.ad_price span:nth-of-type(1){
    font-family: Arial;
    font-size: 18px;
    color: #f10582;
    margin-right: 3px;
    font-weight: 700;
}
.collect{
    background: #fff;
    border: 1px solid #ededed;
    color: #333;
    border-radius: 12px;
    height: 20px;
    line-height: 18px;
    position: absolute;
    top: 200px;
    right: 10px;
    padding: 2px 6px;
    display: none;
}
.collect:hover{
    background: #f00581;
    color: #fff;
    border:none;
}
.slist_img:hover .collect{
    display: block;
    -webkit-transition: .5s;
}
.slist_img img:hover{
    -webkit-opacity: 0.6;
    -webkit-transition: 1.5s;
}
/* footer */
.footer_inner{
    width: 960px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.footer_inner ul{
    height: 105px;
}
.footer_inner li{
    float: left;
}
.footer_inner li i{
    display: block;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 10px;
    width: 58px;
    height: 75px;
    font-size: 0;
    text-indent: -100%;
    background-image: url(../images/footer.png);
}
.f1{
    background-position: 0 0;
}
.f2{
    background-position: -80px 0;
}
.f3{
    background-position: -160 0;
}
.f4{
    background-position: -240px 0;
}
.f5{
    background-position: -320px 0;
}
.f6{
    background-position: -400px 0;
}
.f7{
    background-position: -480px 0;
}
.f8{
    background-position: -560px 0;
}
.f9{
    background-position: -640 0;
}
.f10{
    background-position: -720px 0;
}
.footer_list{
    width: 960px;
    height: 146px;
    margin: 37px 0 25px;
    line-height: 20px;
}
.footer_list dl{
    float: left;
    width: 145px;
    height: 146px;
    padding-left: 16px;
    border-right: 1px solid #e0e0e0;
}
.footer_list dl:last-child{
    padding-left: 0;
    width: 136px;
    text-align: center;
}
.footer_list dt{
    margin-bottom: 4px;
    color: #4d4d4d;
}
.footer_list dd a{
    color: grey;
}
.footer_list dd a:hover{
    color: #f10180;
}
.footer_info{
    width: 960px;
    height: 120px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
.footer_info p:first-child{
    background-color: #d7237e;
    line-height: 30px;
}
.footer_info p:first-child a{
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
}
.footer_info p:last-child{
    color: #999;
    margin: 14px 0;
    line-height: 19px;
}
.footer_info p:last-child a{
    color: grey;
}
/* 侧边栏 */
.aside{
    position: fixed;
    right: 0;
    top:0;
    z-index:999;
    width: 36px;
    height: 100%;
}
.aside_nav{
    position: relative;
    z-index: 101;
    height: 100%;
    background-color: #262626;
}
.aside_nav li:hover{
    background: #df147f;
}
.aside_content{
    margin-top: -250px;
    height: 400px;
    position: absolute;
    top:50%;
    right: 0;
}
.aside_content li{
    position: relative;
    width: 36px;
    text-align: center;
    cursor: pointer;
}

.aside_list{
    padding:8px 0 6px;
}
.aside_list i:nth-of-type(1){
    display: block;
    width: 36px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.aside_list i:nth-of-type(2){
    font-size: 12px;
    color: #fff;
    font-style: normal;
}
.aside_content li:nth-of-type(2){
    background: #df147f;
}
.aside_list p{
    margin: 0 auto;
    width: 14px;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
}
.aside_list span{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 50%;
    color: #df147f;
}
.aside_footer{
    position: absolute;
    bottom: 0;
    right: 0;
}
.account:hover .account_show{
    display:block;
}
.account_show{
    width: 246px;
    height: 280px;
    position: absolute;
    right: 36px;
    top:0;
    background: #fff;
    display: none;
}
.as_top{
    height: 100px;
    margin: 10% auto;
}
.as_top p{
    margin-top: 10px;
}
.as_top p a{
    color: #f10180;
}
.as_middle{
    height:100px;
    border-top: 1px solid #eee;
}
.as_middle a{
    width: 49%;
    height: 100%;
    float: left;
    display: inline-block;
}
.as_middle a i{
    font-size: 30px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}
.as_middle a:last-child{
    border-left:1px solid #eee;
}
.account_show small{
    float: right;
    color: #20a0cd;
    margin-right: 20px;
}
.ico_list:hover .icon_show{
    display: block;
}
.icon_show{
    width: 100px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    background: #fff;
    position: absolute;
    top:0;
    right: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: none;
}
.return{
    top:44px;
}



/* product.html */
.p_list{
    height: 330px;
    border: 1px solid #dfdfdf;
}
.p_title{
    height: 26px;
    line-height: 26px;
    padding: 10px 10px 10px 20px;
    background-color: #fff;
    border-top:none;
    border-bottom: none;
}
.pl_title{
    width: 200px;
    float: left;
    font-size: 16px;
}
.pl_title span{
    margin-left: 20px;
    font-size: 18px;
}
.pr_title {
    width: 150px;
    height: 22px;
    float: right;
    line-height: 22px;
    position: relative;
}
.p_collect{
    display: block;
    top:0;
}
.p_category{
    height: 170px;
    border-bottom: 1px dashed #ccc;
}
.p_category dt,.p_size dt{
    float: left;
    width: 86px;
    padding-left: 20px;
    padding-top: 14px;
    color: #666;
}
.p_category dd,.p_size dd{
    float: left;
    width: 892px;
}
.p_category dd ul,.p_size dd ul {
    padding: 13px 30px 1px 0;
    float: left;
    width: 806px;
}
.p_category dd ul li,.p_size dd ul li {
    display: inline-block;
    padding: 0 24px 12px 0;
    float: left;
}
.p_category dd ul li a,.p_size dd ul li a{
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #fff;
}
.p_size{
    height: 86px;
}
.p_show{
    margin-top: 20px;
}
.option{
    width: 998px;
    height: 46px;
    background: #f5f5f5;
    border:1px solid #dfdfdf;
}
.loption{
    float: left;
}
.loption div{
    height: 46px;
    float: left;
    text-align: center;
    line-height: 46px;
}
.loption div:hover{
    border: 1px solid #f10180;
}
.loption div:nth-of-type(1){
    width: 67px;
    color: #f10180;
    border: 1px solid #f10180;
    margin: -1px 0 0 -1px;
    z-index: 10;
}
.order{
    width: 78px;
    border-right: 1px solid #dfdfdf;
    position: relative;
}
.order i{
    position: absolute;
    top: 1px;
    right: 10px;
    color: #333;
    font-size: 16px;
}
.roption{
    float: right;
    width: 250px;
    padding: 10px 10px 10px 0;
    font-size: 14px;
}
.roption span:nth-of-type(1){
    margin-right: 22px;
    display: inline-block;
}
.roption  em{
    color: #f10180;
    font-style: normal;
}
.roption span:nth-of-type(3){
    height: 24px;
    width: 24px;
    line-height: 24px;
    padding:0 10px 0 9px;
    border:1px solid #e0e0e0;
}
.roption a{
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 9px;
    display: inline-block;
    border: 1px solid #b8b8b8;
}
.ps_content{
    width: 1020px;
    margin-top: 20px;
}
.ps_item{
    width: 235px;
    position: relative;
    margin-right: 17px;
    margin-bottom: 20px;
    letter-spacing: 0;
    word-spacing: 0;
    vertical-align: top;
    display: inline-block;
}
.goods_slide{
    position: relative;
    z-index:1;
}
.goods_img{
    width: 235px;
    height: 297px;
}
.newpic{
    width: 45px;
    height: 45px;
    position: absolute;
    left:0;
    top:0;
    background: url(../images/new_product.png) no-repeat;
    background-size: 45px 45px;
}
.special{
    width: 235px;
    height: 30px;
    background: #f10180;
    background: linear-gradient(to right,#f10180 60%,#fe3b07 100%);
}
.goods_price{
    font-family: \5FAE\8F6F\96C5\9ED1,sans-serif;
    font-size: 14px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 225px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dollar{
    font-size: 14px;
    color: #fff;
    height: 30px;
    line-height: 30px;
}
.special_price{
    font-size: 24px;
    margin-left: 2px;
}
.goods_info{
    display: inline-block;
    width: 235px;
    height: 25px;
    font-size: 16px;
    color: #666;
    margin-top: 6px;
}
.vip_price{
    display: inline-block;
    color: #666;
    font-weight: 400;
    margin-right: 10px;
}
del{
    color: #999;
    font-size: 16px;
}.goods_info span{
    font-size: 14px;
    color: #999;
    margin-left: 20px;
}
.goos_inner h4 a{
    color: #666;
    font-weight: 400;
}


/* cart.html */
.cart_header{
    margin-bottom: 30px;
    height: 78px;
    border-bottom: 2px solid #f3168a;
    background-color: #fff;
    position: relative;
}
.c_logo{
    height: 48px;
    float: left;
}
.c_nav{
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    height: 18px;
}
.c_server{
    position: absolute;
    left: 50%;
    bottom: -36%;
    z-index: 1;
    height: 100px;
}
.cn_list{
    display: inline-block;
    vertical-align: top;
    line-height: 26px; 
}
.cn_list i{
    color: grey;
    font-size: 12px;
}
.cn_list a{
    margin-left: 10px;
    color: grey;
}
.cn_list a:hover{
    color: #666;
}
.c_nav span{
    margin: 8px 12px;
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #b3b3b3;
}
.c_box{
    width: 960px;
    margin: 0 auto;
}
.cart_tab{
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 30px;
    font-weight: 700;
}
.cart_tab a{
    padding-bottom: 12px;
    position: relative;
    bottom: -1px;
    display: inline-block;
    font-size: 16px;
    color: #333;
    padding: 15px 10px;
    margin-right: 10px;
}
.cart_tab a span{
    font-size: 16px;
    color: #333;
}
.cart_tab i{
    display: inline-block;
    width: 1px;
    height: 20px;
    border-left: 1px solid #d0d0d0;
    margin-right: 10px;
}
.inner_block{
    margin-bottom: 30px;
}    
.inner_block span{
    font-size: 18px;
    vertical-align: bottom;
    height: 25px;
    max-width: 460px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
}
.inner_block span em{
    font-weight: 700;
    margin-left: 5px;
    font-style: normal;
}
.inner_tip{
    margin-left: 15px;
    padding-left: 16px;
    vertical-align: bottom;
    position: relative;
    height: 20px;
    display: inline-block;
}
.cart_container{
    width: 100%;
    border: 1px solid #e0e0e0;
}
.cart_title{
    width: 100%;
    height: 40px;
    border-left:2px solid #f10180;
}
.cart_title ul{
    height: 39px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 39px
}
.cart_title ul li{
    float: left;
    width: 100px;
    text-align: center;
}
.cart_title ul li:nth-of-type(1){
    padding-left: 14px;
    width: 283px;
    color: #333;
    font-size: 16px;
    text-align: left;
}
.cart_title ul li:nth-of-type(1) a{
    color: #f10180;
}
.cart_title ul li:nth-of-type(2){
    width: 300px;
}
.cart_bd{
    width: 928px;
    padding-top: 5px;
    margin: 0 auto;
    height: 300px;
}
.cart_bd table{
    border-collapse: collapse;
    border-spacing: 0;
}
.cart_bd tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.cart_bd tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.cart_bd td{
    padding-top: 15px;
    height: 74px;
    vertical-align: top;
}
.product_item{
    padding-left: 10px;
    width: 273px;
}
.pi_img{
    width: 58px;
    height: 74px;
    float: left;
    margin-right: 10px;
}
.product_item h3{
    width: 180px;
    height: 32px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
}
.product_item h3 span{
    color: #f10180;
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    height: 10px;
    line-height: 10px;
    border-right: 1px solid #d0d0d0;
}
.product_item p{
    display: inline-block;
}
.price_item{
    width: 300px;
    text-align: center;
}
.price_item p strong{
    font-size: 14px;
}
.price_item del{
    color: #999;
    font-size: 12px;
}
.number_item{
    width: 100px;
}
.num_box{
    position: relative;
    padding: 0 23px;
    width: 28px;
    height: 22px;
    border: 1px solid #e3e2e2;
    border-radius: 2px;
    margin-left: 23px;
}
.amount-trigger {
    position: absolute;
    top: 0;
    width: 22px;
    height: 22px;
    z-index: 1;
}
.min{
    left:0;
    border-right: 1px solid #e3e2e2;
}
.min i{
    font-size: 14px;
    position: absolute;
    top: 14%;
    left: 20%;
    color: #aaa;
}
.max{
    right:0;
    border-left: 1px solid #e3e2e2;
}
.max i{
    font-size: 14px;
    position: absolute;
    right: 15%;
    top: 8%;
    color: #aaa;
}
.amount_num{
    position: relative;
    width: 28px;
    height: 22px;
    overflow: hidden;
}
.amount_num input{
    width: 28px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #272525;
    background-color: #fff;
    font-family: 'Microsoft Yahei';
    border: none;
}
.subtotal_item{
    width: 145px;
    text-align: center;
}
.subtotal_item p{
    color: #f10180;
    display: inline-block;
    margin-left: 20%;
    font-size: 14px;
}
.action_item{
    width: 115px;
    text-align: center;
}
.action_item p{
    display: inline-block;
    margin-left: 22%;
}
.cart_footer{
    padding:15px;
    border-top: 1px solid #e0e0e0;
    zoom: 1;
    height: 20px;
}
.cart_footer span{
    display: inline-block;
    width: 46px;
    height: 20px;
    background: #f93;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}
.payment{
    height: 160px;
    margin-top: 50px;
}
.payment_top{
    height: 120px;
    border: 1px solid #e0e0e0;
    width: 958px;
    margin: 0 auto;
}
.payment_left{
    width: 200px;
    float: left;
    padding: 15px 0 0 15px;
}
.coupons{
    width: 125px;
    height: 32px;  
    border: 1px solid #f10180;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;
}
.coupons a{
    height: 30px;
    line-height: 30px;
    color: #f10180;
    display: inline-block;
    font-size: 14px;
}
.coupons span{
    margin-left: 20px;
}
.payment_right{
    float: right;
    width: 260px;
    height: 100px;
    padding: 15px 0 0 15px;
}
.payment_right p{
    color: #888;
    margin-bottom: 10px;
}
.payment_right p span{
    color: #f10180;
}
.payment_right p small{
    color: #000;
    margin-left: 20px;
}
.payment_right p a{
    color: #f10180;
    font-size: 18px;
    margin-left: 20px;
}
.payment_bottom{
    background: #f3f3f3;
    padding:14px 270px 14px 20px;
    height: 20px;
    width: 668px;
    border: 1px solid #e2e1e1;
    margin: 0 auto;
    position: relative;
}
.payment_bottom a{
    background-color: #f10180;
    width: 250px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #fff;
    position: absolute;
    right: 0;
    top:-1px;
}
.payment_bottom p{
    display: inline-block;
    position: absolute;
    right: 260px;
    font-size: 14px;
    color: #666;
}
.cart_history{
    height: 330px;
    width: 960px;
    margin: 50px auto;
}
.h_title{
    margin-bottom: 5px;
    height: 34px;
    border-bottom: 1px solid #d0d0d0;
}
.h_title a{
    color: #333;
    line-height: 30px;
    border-bottom: 3px solid #f10180;
    display: inline-block;
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.history_show{
    padding-top: 25px;
    height: 255px;
    width: 924px;
    margin: 0 auto;
}
.history_show ul{
    width: 100%;
    height: 100%;
}
.history_show ul li{
    width: 140px;
    height: 100%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.history_show ul li h3{
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 6px;
    font-weight: 400;
}
.find span{
    color: #f10180;
    font-size: 16px;
}
.find span:nth-of-type(2){
    width: 72px;
    height: 24px;
    border: 1px solid #f10180;
    float: right;
    border-radius: 3px;
   
}
.find span:nth-of-type(2) a{
    display: inline-block;
    margin:  0 10px;
    font-size: 12px;
    color: #f10180;
    height: 24px;
    line-height: 24px;
}
.cart_ad{
    margin: 80px 0 80px;
    width: 960px;
}
.cart_ad div{
    width: 30%;
    height: 141px;
    display: inline-block;
    margin: 0 14px;
    background: url(../images/sprites-hash-29a8cdc6.png) no-repeat;
}
.cart_ad div:nth-of-type(2){
   background-position: -306px 0;
}
.cart_ad div:nth-of-type(3){
    background-position:0 -145px;
 }
.cart_side{
    width: 40px;
    height: 40px;
    position: fixed;
    top:40%;
    right: 10%;
    border:1px solid #b5b5b5;
    background: #fff;
    border-radius: 3px;
}
.cside{
    position: relative;
}
.cside:hover .online{
    display: block;
}
.cside i{
    position: absolute;
    top: 9px;
    left: 12px;
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 14px;
    color: #b0b0b0;
    display: block;
}
.online{
    font-size: 14px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #878787;
    color: #fff;
    display: none;
    z-index:10;
    position: absolute;
    cursor: pointer;
}

/* order.html */
.onav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f10180;
    font-size: 14px;
    color: #fff;
    clear: both;
    position: relative;
}
.onav li{
    float: left;
}
.onav a{
    display: block;
    height: 40px;
    padding: 0 14px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.onav li:nth-of-type(1) a{
    background-color: #bd1067;
    cursor: default;
    font-weight: 700;
    color: #fff;  
}
.onav li:nth-of-type(3){
    float: right;
    position: relative;
}
.onav li::before{
    content: " ";
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #bd1067;
    top: 13px;
    left: -1px;
    overflow: hidden;
}
.onav li:nth-of-type(4){
    float: right;
}
.onav li:hover{
    background-color: #db0a76;
    color: #fff;
}
.osection{
    background: url(../images/layout-bg.png) center 0 no-repeat;
    min-height: 600px;
}
.owrap{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}
.oleft{
    float: left;
    width: 129px;
    margin-right: 15px;
}
.oleft_box{
    padding: 20px 10px;
    border: 1px solid #e4e4e4;
    background: #fff;
}
.side_btm{
    border-bottom: 1px dotted #ddd;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.side_btm dt{
    height: 16px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 15px;
    font-size: 13px;
}
.side_btm dt i{
    background: url(../images/sprites.png) -257px -178px no-repeat;
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 8px;
}
.side_btm dt a{
    line-height: 16px;
    float: left;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.side_btm dd{
    height: 17px;
    padding-left: 13px;
    margin-left: 12px;
    margin-bottom: 10px;
    position: relative;
}
.side_btm dd a{
    display: block;
    line-height: 17px;
    cursor: pointer;
    color: #666;
}
.oright{
    float: left;
    width: 820px;
    height: 600px;
}
.otitle{
    font-size: 12px;
    color: #333;
    border-left: 2px solid #f10582;
    margin: 2px 0 10px;
    padding-left: 12px;
    line-height: 12px;
}
.odeclare{
    position: relative;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ececec;
    padding: 17px 50px 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.odeclare i{
    position: absolute;
    left:15px;
    top:15px;
    background: url(../images/sprites2.png) -145px -174px no-repeat;
    width: 21px;
    height: 21px;
}
.ohd{
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 20px;
}
.ohd li{
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    display: inline-block;
    min-width: 44px;
    padding: 0 10px;
    line-height: 34px;
    color: #666;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.ohd li a{
    color: #666;
}
.ohd li a p{
    padding: 0 20px;
    line-height: 12px;
    margin: 11px 0;
    border-left: 1px solid #d0d0d0;
    font-size: 14px;
}
.otable{
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.otable thead tr{
    height: 36px;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
}
.otable thead tr th{
    font-weight: 400;
}
.otable thead tr th:nth-of-type(1){
    width: 409px;
}
.otable thead tr th:nth-of-type(2){
    width: 129px;
}
.all_state{
    width: 103px;
    position: relative;
}
.all_state i{
   font-size: 12px;
}
.state_show{
    width: 103px;
    top: 0;
    left:-1px;
    max-height: 312px;
    position: absolute;
    background: #fff;
    margin-top: 30px;
    border: 1px solid #cbcaca;
    border-top: 0;
    display: none;
}
.all_state:hover{
    border:1px solid #cbcaca;
    border-bottom: 0;
}
.all_state:hover .state_show{
    display: block;
}
.otable thead tr th:nth-of-type(4){
    width: 102px;
}
.otable thead tr th:nth-of-type(5){
    width: 79px;
}
tbody{
   text-align: center;
}
tbody td{
    border: 1px solid #eaeaea;
    background: #f9f9f9;
}
.tbody_hd{
    background-color: #f9f9f9;
    color: #333;
    height: 40px;
}
.tbody_hd td{
    padding: 4px 0 2px 20px;
    border-left: 2px solid #fb47a8;
    border-top: 1px solid #eaeaea;
    border-bottom: 0 none;
}
.tbody_hd td i{
    background: url(../images/sprites2.png) -220px -205px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.tbody_hd td span{
    color: #666;
}
.tbody_hd td span:nth-of-type(2){
    margin-left: 20px;
}
.tbody_hd td span:nth-of-type(3){
    float: right;
    color: #999;
    margin-right: 20px;
}
.ogoods{
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}
.ogoods a{
    margin-right: 10px;
}
.ogoods a img{
    vertical-align: middle;
}
.ogoods_info{
    width: 320px;
    word-wrap: break-word;
    vertical-align: middle;
    display: inline-block;
}
.ogoods_info a{
    display: block;
    color: #333;
}
.ogoods_info span{
    color:#999;
}
.oprice{
    color: #999;
}
.oprice strong{
    font-size: 14px;
    font-family: arial;
    color: #333;
}
.buyagain{
    background-color: #fcedf2;
    border: 1px solid #ffbee0;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
    color: #e00078;
}